
{%extends 'feed/base.html'%}

{%block into_inro%}
{{descrip}}
{%endblock%}


{%block entry%}

  <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        {% load static %}
        <img src ="{%static '../media/'%}{{blog.display_photo}}" alt="Profile Picture" style="width:100%">  
        <div class="w3-container">
          <h3><b>{{blog.display_title}}</b></h3>
          <h5>Debakun12<span class="w3-opacity">&nbsp;&nbsp;&nbsp;April 7, 2014</span></h5>
        </div>

        <div class="w3-container">
          <p>{{blog.content_blog}}</p>
          <div class="w3-row">
          </div>
        </div>
      </div>
      <hr>
    <!-- END BLOG ENTRIES -->
  </div>


{%endblock%}

{%block nav%}
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <button onclick="location.href = '/feed/{{u_name}}'" class="w3-button w3-black w3-padding-large w3-margin-bottom">&#9111; Previous</button>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

{%endblock%}